*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.logo-image{
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

body{
  background-image: url('./images/five.png');
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: top right;

}
#img-fluid{
  height: 90px;
  margin-left:150px;
  filter: invert(100%);
  padding-bottom: 40px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

nav{
  font-family: Montserrat, sans-serif;
  background-image: url("./images/dark.jpeg") !important;
  position: fixed;
  height:70px;
}

.menu{
  display: flex;
}

nav.navbar{
  padding-top: 0px;
}

input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/*
nav.bg-light{ 
}
*/

a.navbar-brand{
  color: whitesmoke
}

a.nav-link{
  color: whitesmoke; 
  margin-right: 170px;
  margin-top: 0px;
  font-size: 20px;
  font-family: "Indie Flower";
}
ul.navbar-links{
  padding-top: 0;
}

header{
  display: inline-block;
  position: absolute;
  font-size: 30px;
  font-family: "Montserrat Alternates", "Indie Flower", sans-serif;
  font-weight: bolder;
  color: black;
  margin-top: 70px;
  margin-left: 70px;
}

#one{
  position: absolute;
  color: black;
  font-size: 20px;
  font-family:"Indie Flower", sans-serif;
  font-weight:bold;
  line-height: 36px;
  margin-top: 140px;
  margin-left: 80px;
  display: block;
  padding-right: 820px;
}

#tess{
display: block;
width: 530px;
float: right;
height: 450px;
border-radius: 30%;
object-fit: cover;
margin-top: 150px;
margin-right: 100px;
}

#contact{
margin-top: 870px;
}

img#link{
margin-left: 80px;
}

img#git{
margin-left: 20px;
}

#alles{
color: rgb(41, 193, 193);
display: block;
margin-top:40px;
margin-left: 80px;
font-family: Caveat, sans-serif;
font-size: 48px;
padding-right: 900px;
flex-wrap: wrap;
}

h2{
  font-size: 100px;
  font-family: Montserrat, sans-serif;
  color: black;
  padding-top: 80px;
  margin-left: 70px;
}

ul{
  padding-top: 20px;
  margin-left: 100px;
  line-height: 50px;
  font-family: "Indie Flower", sans-serif;
  font-size: 20px;
}

h3{
  position: relative;
  font-size: 100px;
  font-family: Montserrat, sans-serif;
  padding-top: 50px;
  padding-bottom: 9px;
  margin-left: 70px;
}

img{
  height: 55px;
}

#images{
  margin-left: 80px;
  display:inline-flex;
  grid-gap: 35px;
  padding-bottom: 90px;
  
}


footer{
  background-image: url("./images/dark.jpeg") !important;
  height:70px;
  width:100%;
}


p.copyright{
color:whitesmoke;
font-family: Montserrat, sans-serif;
font-size: 18px;
padding-top: 10px;
text-align: center;

}

@media only screen and (max-width: 305px){
.navbar{
  height: 50px;
  width: 100%;
}

#img-fluid{
margin-left: 20px;
padding-bottom: 50px;
}

.menu {
display:none;
position: absolute;
right: 0;
}

.menu li:hover {
display: inline-block;
transition: 0.3s ease;
}

.menu li + li {
margin-top: 12px;
}

input[type=checkbox]:checked ~ .menu {
display: block;
background-image: url("./images/dark.jpeg");
z-index:1;
}

.hamburger {
display: block;
color: whitesmoke;
margin-right: 8px;
background-image: url("./images/dark.jpeg");
z-index: 1;
}

header{
font-size: 10px;
text-align: center;
margin-top: 300px;
margin-left: 0;
right: 0;
left: 0;
width: 100%;
font-weight: bolder;
}

body{
background-position: bottom top;
background-size: 70%;
}

#one{
margin-top: 330px;
margin-left:42px;
margin-right:42px;
font-size: 10px;
padding-right: 0px;
text-align: center;
line-height: 16px;
font-family: "Montserrat Alternates", "Indie Flower", sans-serif;
font-style: italic;
font-weight: 0;
}

#tess{
width: 257px;
float: none;
height: 257px;
border-radius: 30%;
margin-top: 20px;
margin-left: 40px;
}

#contact{
margin-top: 490px;
}

img#link{
margin-left: 125px;
}

img#git{
margin-left: 5px;
}

#alles{
margin-top: 30px;
margin-left: 10px;
font-size: 30px;
padding-right: 5px;
text-align: center;
}

h2{
font-size: 100px;
padding-top: 30px;
text-align: center;
}

h2#projects{
margin-left:0px;
}

ul{
padding-top: 10px;
margin-left: 120px;
line-height: 50px;
font-size: 15px;
}

h3{
font-size: 100px;
padding-top: 30px;
text-align: center;
margin-left: 0px;
}

img{
height: 30px;
}

#images{
margin-left: 20px;
grid-gap: 20px;
padding-bottom: 40px;
}

footer{
height: 50px;
}

p.copyright{
color:whitesmoke;
font-family: Montserrat, sans-serif;
font-size: 12px;
padding-top: 15px;
text-align: center;
}
}


@media only screen and (min-width: 306px) and (max-width: 374px){
.navbar{
      height: 50px;
      width: 100%;
  }

  #img-fluid{
   margin-left: 20px;
   padding-bottom: 50px;
}

  .menu {
    display:none;
    position: absolute;
    right: 0;
}

  .menu li:hover {
  display: inline-block;
  transition: 0.3s ease;
}

  .menu li + li {
  margin-top: 12px;
}

input[type=checkbox]:checked ~ .menu {
  display: block;
  background-image: url("./images/dark.jpeg");
  z-index:1;
}

.hamburger {
  display: block;
  color: whitesmoke;
  margin-right: 8px;
  background-image: url("./images/dark.jpeg");
  z-index: 1;
}

header{
  font-size: 10px;
  text-align: center;
  margin-top: 300px;
  margin-left: 0;
  right: 0;
  left: 0;
  width: 100%;
  font-weight: bolder;
}

body{
  background-position: bottom top;
  background-size: 70%;
}

#one{
  margin-top: 330px;
  margin-left:42px;
  margin-right:42px;
  font-size: 10px;
  padding-right: 0px;
  text-align: center;
  line-height: 16px;
  font-family: "Montserrat Alternates", "Indie Flower", sans-serif;
  font-style: italic;
  font-weight: 0;
}

#tess{
  width: 257px;
  float: none;
  height: 257px;
  border-radius: 30%;
  margin-top: 20px;
  margin-left: 40px;
}

#contact{
  margin-top: 440px;
}

img#link{
  margin-left: 125px;
}

img#git{
  margin-left: 5px;
}

#alles{
  margin-top: 30px;
  margin-left: 10px;
  font-size: 30px;
  padding-right: 5px;
  text-align: center;
}

h2{
  font-size: 100px;
  padding-top: 30px;
  text-align: center;
}

h2#projects{
margin-left:0px;
}

ul{
  padding-top: 10px;
  margin-left: 120px;
  line-height: 50px;
  font-size: 15px;
}

h3{
font-size: 100px;
padding-top: 30px;
text-align: center;
margin-left: 0px;
}

img{
height: 30px;
}

#images{
margin-left: 20px;
grid-gap: 20px;
padding-bottom: 40px;
}

footer{
height: 50px;
}

p.copyright{
color:whitesmoke;
font-family: Montserrat, sans-serif;
font-size: 12px;
padding-top: 15px;
text-align: center;
}

}

@media only screen and (min-width: 360px) and (max-width: 767px) { 
.navbar{
  height: 50px;
  width: 100%;
}

#img-fluid{
margin-left: 20px;
padding-bottom: 50px;
padding-top: 1px;
}

.menu {
display:none;
position: absolute;
right: 0;
}

.menu li:hover {
border-radius: 5px;
transition: 0.3s ease;
}

.menu li  {
margin-top: 0px;
}

input[type=checkbox]:checked ~ .menu {
display: block;
background-image: url("./images/dark.jpeg");
z-index:1;
}

.hamburger {
display: block;
color: whitesmoke;
margin-right: 10px;
background-image: url("./images/dark.jpeg");
z-index: 1;
}

header{
font-size: 14px;
text-align: center;
margin-top: 328px;
margin-left: 0;
right: 0;
left: 0;
width: 100%;
font-weight: bolder;
}

body{
background-position: bottom top;
background-size: 62%;
}

#one{
margin-top: 361px;
margin-left: 36px;
margin-right: 36px;
font-size: 12px;
padding-right: 0px;
text-align: center; 
line-height: 18px;
font-family: "Montserrat Alternates", "Indie Flower", sans-serif;
font-weight: 0px;
font-style: italic;
line-height: 20px;
}

#tess{
width: 267px;
float: none;
height: 267px;
border-radius: 30%;
margin-top: 25px;
margin-left: 60px;
}

#contact{
margin-top: 580px;
}

img#link{
margin-left: 150px;
}

img#git{
margin-left: 5px;
}

#alles{
margin-top: 35px;
margin-left: 10px;
font-size: 30px;
padding-right: 15px;
padding-left: 15px;
text-align: center;
}

h2{
font-size: 100px;
padding-top: 30px;
text-align: center;
}

h2#projects{
margin-left:0px;
}

ul{
padding-top: 15px;
margin-left: 169px;
line-height: 50px;
font-size: 15px;
}

h3{
font-size: 100px;
padding-top: 30px;
padding-bottom: 13px;
text-align: center;
margin-left: 0px;

}
img{
height: 40px;
}

#images{
margin-left: 25px;
grid-gap: 19px;
padding-bottom: 50px;

}
footer{
height: 50px;
}

p.copyright{
color:whitesmoke;
font-family: Montserrat, sans-serif;
font-size: 13px;
padding-top: 16px;
text-align: center; 
}
}

/* My phone */
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3){
.navbar{
  height: 50px;
  width: 100%;
}

#img-fluid{
margin-left: 20px;
padding-bottom: 50px;
padding-top: 1px;
}

.menu {
display:none;
position: absolute;
right: 0;
}

.menu li:hover {
border-radius: 5px;
transition: 0.3s ease;
}

.menu li  {
margin-top: 0px;
}

input[type=checkbox]:checked ~ .menu {
display: block;
background-image: url("./images/dark.jpeg");
z-index:1;
}

.hamburger {
display: block;
color: whitesmoke;
margin-right: 10px;
background-image: url("./images/dark.jpeg");
z-index: 1;
}

header{
font-size: 14px;
text-align: center;
margin-top: 328px;
margin-left: 0;
right: 0;
left: 0;
width: 100%;
font-weight: bolder;
}

body{
background-position: bottom top;
background-size: 62%;
}

#one{
margin-top: 361px;
margin-left: 36px;
margin-right: 36px;
font-size: 12px;
padding-right: 0px;
text-align: center; 
line-height: 18px;
font-family: "Montserrat Alternates", "Indie Flower", sans-serif;
font-weight: 0px;
font-style: italic;
line-height: 20px;
}

#tess{
width: 267px;
float: none;
height: 267px;
border-radius: 30%;
margin-top: 25px;
margin-left: 60px;
}

#contact{
margin-top: 560px;
}

img#link{
margin-left: 150px;
}

img#git{
margin-left: 5px;
}

#alles{
margin-top: 35px;
margin-left: 10px;
font-size: 30px;
padding-right: 15px;
padding-left: 15px;
text-align: center;
}

h2{
font-size: 100px;
padding-top: 30px;
text-align: center;
}

h2#projects{
margin-left:0px;
}

ul{
padding-top: 15px;
margin-left: 169px;
line-height: 50px;
font-size: 15px;
}

h3{
font-size: 100px;
padding-top: 30px;
padding-bottom: 13px;
text-align: center;
margin-left: 0px;

}
img{
height: 40px;
}

#images{
margin-left: 25px;
grid-gap: 19px;
padding-bottom: 50px;

}
footer{
height: 50px;
}

p.copyright{
color:whitesmoke;
font-family: Montserrat, sans-serif;
font-size: 13px;
padding-top: 16px;
text-align: center; 
}
}


@media only screen and (min-width: 425px) and (max-width: 766px){
.navbar{
  height: 50px;
  width: 100%;
}

#img-fluid{
margin-left: 20px;
padding-bottom: 50px;
padding-top: 1px;
}

.menu {
display:none;
position: absolute;
right: 0;
}

.menu li:hover {
border-radius: 5px;
transition: 0.3s ease;
}

.menu li  {
margin-top: 0px;
}

input[type=checkbox]:checked ~ .menu {
display: block;
background-image: url("./images/dark.jpeg");
z-index:1;
}

.hamburger {
display: block;
color: whitesmoke;
margin-right: 10px;
background-image: url("./images/dark.jpeg");
z-index: 1;
}

header{
font-size: 16px;
text-align: center;
margin-top: 340px;
margin-left: 0;
right: 0;
left: 0;
width: 100%;
font-weight: bolder;
}

body{
background-position: bottom top;
background-size: 60%;
}

#one{
margin-top: 370px;
margin-left:40px;
margin-right: 30px;
font-size: 13px;
padding-right: 0px;
text-align: center; 
line-height: 20px;
font-family: "Montserrat Alternates", "Indie Flower", sans-serif;
font-style: italic;
font-weight: 0;
}

#tess{
width: 270px;
float: none;
height: 270px;
border-radius: 30%;
margin-top: 25px;
margin-left: 90px;
}

#contact{
margin-top: 530px;
}

img#link{
margin-left: 170px;
}

img#git{
margin-left: 5px;
}

#alles{
margin-top: 30px;
margin-left: 10px;
font-size: 30px;
padding-right: 35px;
padding-left: 35px;
text-align: center;
}

h2{
font-size: 100px;
padding-top: 30px;
text-align: center;
}

h2#projects{
margin-left:0px;
}

ul{
padding-top: 6px;
margin-left: 180px;
line-height: 50px;
font-size: 15px;
}

h3{
font-size: 100px;
padding-top: 30px;
padding-bottom: 13px;
text-align: center;
margin-left: 0px;
}

img{
height: 40px;
}

#images{
margin-left: 57px;
grid-gap: 17px;
padding-bottom: 60px;

}

footer{
height: 50px;
}

p.copyright{
color:whitesmoke;
font-family: Montserrat, sans-serif;
font-size: 13px;
padding-top: 16px;
text-align: center; 
 }
}



@media only screen and (max-width: 765px) and (orientation: landscape){
  body{
    background-size: 36% !important;
  }

  p#one{
    font-size: 15px;
    margin-top: 390px;
    margin-right: 30px;
    margin-left: 30px;
  }

  div#contact{
    margin-top: 420px;
    margin-left: 160px;
  }

  .m1{
    margin-left: 190px;
  }

  .a1{
    margin-left: 190px;
  }

  img#tess{
    margin-left: auto;
    margin-right: auto;
  }

  div#images{
    margin-left: 220px;
  }
}

@media only screen and  (min-width:609px) and (max-width: 768px) and (orientation: portrait){
  body{
    background-size: 36% !important;
  }

  p#one{
    font-size: 15px;
    margin-top: 390px;
    margin-right: 30px;
    margin-left: 30px;
  }

  div#contact{
    margin-top: 420px;
    margin-left: 100px;
  }

  .m1{
    margin-left: 110px;
  }

  .a1{
    margin-left: 110px;
  }

  img#tess{
    margin-left: auto;
    margin-right: auto;
  }

  div#images{
    margin-left: 150px;
  }
}

/* Portrait Tablet */
@media only screen and (min-device-width: 601px) and (max-device-width: 1024px) and (orientation: portrait)
{

  body{
    background-size: 48%;
  }
  img#tess{
    margin-left:auto;
    margin-right:auto;
  }

  p#one{
    font-size: 13px;
    margin-left: 40px;
    margin-right: 40px;
  }

  div#contact{
    margin-top: 430px;
  }

  img#link{
    margin-left: 260px;
  }

  ul{
    margin-left: 270px;
  }
  
  div#images{
    margin-left: 150px;
  }
}



/* Tablet */
@media only screen and  (min-width: 767px) and (max-device-width: 768px){
 
.navbar{
  height: 50px;
  width: 100%;
}

#img-fluid{
margin-left: 30px;
padding-bottom: 50px;
margin-top: 5px; 
}

input[type=checkbox] {
display: none;
} 

/* HAMBURGER MENU */
.hamburger {
display: none;
font-size: 24px;
user-select: none;
}

ul.navbar-links{
margin-left: 0px;
margin-bottom: 0px;
}

a.nav-link{
margin-right: 60px;
padding-top: 0px;
}

header{
font-size: 15px;
margin-top: 15px;
margin-left: 19px;
}

body{
background-position: bottom top;
background-size: 60%;
}

#one{
margin-top: 50px;
margin-left: 20px;
padding-right: 450px;
font-size: 13px;
line-height: 19px;
}

#tess{
width: 260px;
height: 300px;
border-radius: 30%;
margin-top: 60px;
margin-right: 60px;
}

#contact{
margin-top: 460px;
}

img#link{
margin-left: 20px;
}

img#git{
margin-left: 5px;
}

#alles{
margin-top: 30px;
margin-left: 14px;
font-size: 30px;
padding-right: 500px;
}


h2{
padding-top: 40px;
}

h2#projects{
margin-left:20px;
}

ul{
margin-left: 50px;
}

h3{
font-size: 100px;
padding-top: 50px;
padding-bottom: 10px;
text-align: left;
margin-left: 20px;

}
img{
height: 40px;
}

#images{
margin-left: 40px;
grid-gap: 25px;
padding-bottom: 60px;

}
footer{
height: 50px;
}

p.copyright{
color:whitesmoke;
font-family: Montserrat, sans-serif;
font-size: 15px;
padding-top: 15px;
text-align: center; 
 }
}

@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait){
  header{
    font-size: 15px;
  }

  img#tess{
    width: 300px;
  }

  p#one{
    margin-top: 50px;
    margin-left: 20px;
  }

  body{
    background-size: 90%;
  }

  img#tess{
    margin-right: 60px;
  }

  div#contact{
    margin-top: 500px;
    margin-left: 0px;
  }

  ul{
    margin-left: 0px;
  }

  li.m1{
    margin-left: 30px;
  }

  li.a1{
    margin-left: 30px;
  }

  div#images{
    margin-left: 30px;
  }
}

/* iPad Pro */
@media only screen and (device-width: 768px) and (device-height: 956px)and (-webkit-device-pixel-ratio: 2)
{
  p#one{
    margin-top: 50px;
    margin-left: 20px;
  }

  ul.navbar-links{
    margin-right: 50px;
  }

  body{
    background-size: 90%;
  }

  img#tess{
    margin-right: 100px;
    height: 400px;
  }

  div#contact{
    margin-top: 510px;
    margin-left: 0px;
  }

  ul{
    margin-left: 0px;
    padding-left: 0px;
  }

  li.m1{
    margin-left:30px;
  }

  li.a1{
    margin-left: 30px;
  }

  div#images{
    margin-left: 20px;
  }
}


/* Laptop small */
@media only screen and  (min-width: 769px) and (max-width: 1024px){
 
.navbar{
    height: 60px;
    width: 100%;
}


#img-fluid{
  margin-left: 30px;
  padding-bottom: 40px;
  padding-top: 5px;
}

input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

ul.navbar-links{
 margin-left: 0px;
 margin-bottom: 0px;
}

a.nav-link{
  margin-right: 20px;
}
header{
  font-size: 15px;
  margin-top: 15px;
  margin-left: 19px;
}

body{
  background-position: bottom top;
  background-size: 60%;
}

#one{
 margin-top: 50px;
 margin-left: 24px;
 padding-right: 550px;
 font-size: 16px;
 line-height: 20px;
 font-weight: 100;
}

#tess{
  width: 300px;
  height: 300px;
  border-radius: 30%;
  margin-top: 60px;
  margin-left: 90px;
}

#contact{
  margin-top: 440px;
}

img#link{
  margin-left: 20px;
}

img#git{
  margin-left: 5px;
}

#alles{
  margin-top: 40px;
  margin-left: 20px;
  font-size: 30px;
  padding-right: 700px;
}

h2{
 padding-top: 30px;
}

h2#projects{
 margin-left:20px;
}

ul{
 margin-left: 50px;
}

h3{
font-size: 100px;
padding-top: 40px;
padding-bottom: 10px;
text-align: left;
margin-left: 20px;

}
img{
  height: 40px;
}

#images{
  margin-left: 40px;
  grid-gap: 25px;
  padding-bottom: 60px;
  
}
footer{
  height: 50px;
}

p.copyright{
 color:whitesmoke;
 font-family: Montserrat, sans-serif;
 font-size: 16px;
 padding-top: 15px;
 text-align: center; 
 }

}

@media only screen and (min-width: 800px) and (max-device-width: 1280px) and (orientation: portrait){
 img#tess{
  margin-right:50px;
 }

  p#one{
    margin-left: 20px;
    padding-right: 425px;
  }

  div#contact{
    margin-top: 490px;
  }

  div#alles{
    padding-right: 500px;
  }

  div#images{
    margin-left: 30px;
  }

  p.copyright{
    
   padding-bottom: 35px;
  }
}

/* Laptop Large*/
@media only screen and (min-width: 1025px) and (max-device-width: 1440px) {
.navbar{
  height: 70px;
  width: 100%;
}

#img-fluid{
margin-left: 30px;
padding-bottom: 30px;
}

input[type=checkbox] {
display: none;
} 

/* HAMBURGER MENU */
.hamburger {
display: none;
font-size: 24px;
user-select: none;
}

ul.navbar-links{
margin-left: 0px;
margin-bottom: 0px;
}

a.nav-link{
font-size: 27px;
margin-right: 20px;
}

header{
font-size: 22px;
margin-top: 17px;
margin-left: 23px;
}

body{
background-position: bottom top;
background-size: 50%;
}

#one{
margin-top: 70px;
margin-left: 30px;
padding-right: 800px;
font-size: 21px;
font-weight: 100;
}

#tess{
width: 400px;
height: 400px;
border-radius: 30%;
margin-top: 100px;
margin-right: 130px;
}

#contact{
margin-top: 650px;
}

img#link{
margin-left: 30px;
}

img#git{
margin-left: 5px;
}

#alles{
margin-top: 50px;
margin-left: 30px;
font-size: 34px;
padding-right: 1100px;
}

h2{
padding-top: 50px;
}

h2#projects{
margin-left:30px;
}

ul{
margin-left: 60px;
}

h3{
font-size: 100px;
padding-top: 50px;
padding-bottom: 10px;
text-align: left;
margin-left: 30px;

}
img{
height: 40px;
}

#images{
margin-left: 60px;
grid-gap: 25px;
padding-bottom: 60px;
}

footer{
height: 60px;
}

p.copyright{
color:whitesmoke;
font-family: Montserrat, sans-serif;
font-size: 18px;
padding-top: 15px;
text-align: center; 
}
}

@media only screen and (min-width: 629px) and (max-height: 1024px) and (orientation: portrait){
  p#one{
   margin-left: 60px;
   margin-right: 60px;
  }

  img#tess{
    margin-left: auto;
    margin-right: auto;
  }

  div#contact{
    margin-top: 430px;
    margin-left:10px;
  }
  
  ul{
    margin-left: 170px;
  }

  div#images{
   
  }
}

@media only screen and (min-width: 768px) and (max-height: 1024px) and (orientation: portrait){
  header{
    margin-top:500px;
  }

  img#img-fluid{
    margin-left: 5px;
    margin-top: 5px;
  }

  input[type=checkbox] {
    display: none;
    } 
    
    /* HAMBURGER MENU */
    .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    }
    
    ul.navbar-links{
    margin-left: 0px;
    margin-bottom: 0px;
    }
    
    a.nav-link{
    font-size: 20px;
    margin-right: 20px;
    }

  p#one{
    margin-top: 560px;
    text-align: center;
    padding-right: 0px;
    margin-left: 100px;
    margin-right:100px;
  }

  img#tess{
    margin-top: 50px;
    margin-right: 150px;
    height: 400px;
    width: 400px;
  }

  div#contact{
    margin-top: 1100px;
    margin-left: 250px;
  }
  
  div#alles{
    padding-right: 0px;
    margin-left: 0px;
    font-size: 30px;
    text-align: center;
  }

  h2{
    text-align: center;
    margin-left: 0px;
  }
  
  ul{
    margin-left: 250px;
  }

  h3{
    text-align: center;
    margin-left: 0px;

  }

  div#images{
    margin-left: 150px;
 }
}


@media only screen and (min-width: 769px) and (max-height: 1124px) and (orientation: portrait){
  p#one{
    padding-right: 440px;
    margin-left: 20px;
  }

  img#tess{
    margin-right:100px;
  }

  div#contact{
    margin-top: 540px;
  }
  
  div#alles{
    padding-right: 500px;
  }
  
  ul{
    margin-left: 40px;
  }

  div#images{
    margin-left: 30px;
  }
}


@media only screen and (min-width: 1068px) and (max-device-height: 744px){

  p#one{
    padding-right: 600px;
  }

  ul.navbar-links{
    margin-right: 180px;
  }
  #contact{
    margin-top: 840px;
  }

  div#alles{
    padding-right: 700px;
  }


  ul{
    margin-left: 45px;
  }

  div#images{
    margin-left: 30px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 960px) and (orientation:landscape){
  #contact{
    margin-top: 500px;
  }

}


@media only screen and (min-width: 1280px) and (max-device-height: 800px){
  #contact{
    margin-top: 840px;
  }

  div#alles{
    padding-right: 500px;
  }
}

/* My pc */
@media only screen and (min-width: 2000px) and (max-device-width: 2335px) {
.navbar{
  height: 70px;
  width: 100%;
}

#img-fluid{
margin-left: 30px;
padding-bottom: 30px;
}

input[type=checkbox] {
display: none;
} 

/* HAMBURGER MENU */
.hamburger {
display: none;
font-size: 24px;
user-select: none;
}

ul.navbar-links{
margin-left: 0px;
margin-bottom: 0px;
margin-right: 10px;
}

a.nav-link{
font-size: 27px;
margin-right: 20px;
}

header{
font-size: 30px;
margin-top: 20px;
margin-left: 23px;
}

body{
background-position: bottom top;
background-size: 50%;
}

#one{
margin-top: 90px;
margin-left: 30px;
padding-right: 1500px;
font-size: 27px;
font-weight: 100;
}

#tess{
width: 500px;
height: 550px;
border-radius: 30%;
margin-top: 100px;
margin-right: 430px;
}

#contact{
margin-top: 810px;
}

img#link{
margin-left: 30px;
}

img#git{
margin-left: 5px;
}

#alles{
margin-top: 50px;
margin-left: 30px;
font-size: 37px;
padding-right: 1100px;
}

h2{
padding-top: 50px;
}

h2#projects{
margin-left:30px;
}

ul{
margin-left: 60px;
}

h3{
font-size: 100px;
padding-top: 50px;
padding-bottom: 10px;
text-align: left;
margin-left: 30px;

}
img{
height: 40px;
}

#images{
margin-left: 60px;
grid-gap: 25px;
padding-bottom: 60px;

}
footer{
height: 70px;
}

p.copyright{
color:whitesmoke;
font-family: Montserrat, sans-serif;
font-size: 25px;
padding-top: 15px;
text-align: center; 
}
}

